@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  text-transform: lowercase;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: rgba(105, 69, 113, 0.87);
}
body::before {
  content: "";
  z-index: 10;
  position: absolute;
  width: 100%;
  height: calc(100% + env(safe-area-inset-top));
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.57);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body.lock {
  overflow: hidden;
}
body.lock::before {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding: 0 calc(30px + env(safe-area-inset-right)) 0 calc(30px + env(safe-area-inset-left));
}
@media (max-width: 767px) {
  .container {
    padding: 0 calc(15px + env(safe-area-inset-right)) 0 calc(15px + env(safe-area-inset-left));
  }
}

.wrapper {
  min-height: 100vh;
}

.header {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0px env(safe-area-inset-left);
  z-index: 50;
  position: relative;
}
.header__menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45px;
  left: 0px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list li {
  margin: 0px 30px 0px 30px;
}
.header__link {
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 767px) {
  .header__menu {
    display: block;
    position: fixed;
    width: auto;
    height: calc(100% + env(safe-area-inset-top));
    left: -100%;
    top: calc(0 - env(safe-area-inset-top));
    background: rgba(105, 69, 113, 0.87);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: env(safe-area-inset-top) 50px 0 env(safe-area-inset-left);
    -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.37);
            box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.37);
  }
  .header__menu.active {
    left: 0;
  }
  .header__list {
    overflow: auto;
    margin: 150px 0px 0px 0px;
    height: calc(100% - 150px);
    display: block;
  }
  .header__list li {
    margin: 0px 0px 30px 15px;
  }
  .header__link {
    font-size: 24px;
  }
}

.burger__menu {
  z-index: 50;
  display: none;
}
@media (max-width: 767px) {
  .burger__menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 45px;
    left: 15px;
    width: 30px;
    height: 24px;
  }
  .burger__menu:before, .burger__menu:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 8px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .burger__menu:before {
    top: 0;
  }
  .burger__menu:after {
    bottom: 0;
  }
  .burger__menu span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border-radius: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
.burger__menu.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}
.burger__menu.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
}
.burger__menu.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.travel {
  color: rgba(255, 255, 255, 0.87);
  z-index: 1;
  position: relative;
  padding: 0px 0px calc(100vh + 70px + env(safe-area-inset-top)) 0px;
  height: calc(100vh + 70px + env(safe-area-inset-top));
  background: url("../img/travel.jpg") 0 0/cover no-repeat;
}
.travel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(105, 69, 113, 0.37);
  z-index: 2;
}
.travel__slider {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (min-width: 767px) {
  .travel__slider .slick-dots {
    right: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.travel__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.travel__title {
  font-weight: 600;
  font-size: 34px;
  color: #fff;
  line-height: 150%;
}
.travel__text {
  font-size: 14px;
  line-height: 150%;
  max-height: 275px;
  overflow-y: auto;
  padding: 0 5px;
}
.travel__button {
  margin: 20px 0px 0px 0px;
  font-weight: 600;
  color: #ec1e66;
  line-height: 150%;
  display: inline-block;
  font-size: 16px;
  padding: 1px 50px 5px 50px;
  border: rgba(236, 30, 102, 0.87) solid 2px;
  position: relative;
  overflow: hidden;
}
.travel__button::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 600%;
  top: 0;
  left: -200%;
  background-color: rgba(255, 255, 255, 0.37);
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.travel__button:hover::before {
  left: -74%;
}

.info-block {
  margin: auto;
  padding: 25px 15px;
  line-height: 150%;
}
.info-block .mountains__title,
.info-block .aostavalley__title {
  font-weight: 600;
  font-size: 34px;
  color: #ec1e66;
}
.info-block .mountains__text,
.info-block .aostavalley__text {
  padding: 10px 0px;
  color: #939393;
  font-size: 16px;
}
.info-block .mountains__button,
.info-block .aostavalley__button {
  font-weight: 600;
  color: #ec1e66;
  display: inline-block;
  font-size: 16px;
  padding: 1px 50px 5px 50px;
  border: rgba(236, 30, 102, 0.87) solid 2px;
  position: relative;
  overflow: hidden;
}
.info-block .mountains__button::before,
.info-block .aostavalley__button::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 600%;
  top: 0;
  left: -200%;
  background-color: #ec1e66;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.info-block .mountains__button:hover::before,
.info-block .aostavalley__button:hover::before {
  left: -74%;
}
@media (min-width: 767px) {
  .info-block {
    padding: 25px 10%;
  }
}

.mountains {
  background-color: rgba(255, 255, 255, 0.87);
}
.mountains__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mountains__image {
  z-index: 50;
  position: relative;
  padding: 0px 0px 57% 0px;
  margin: -50px 0px 0px 0px;
}
.mountains__image img {
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid #ec1e66;
}
.mountains__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(105, 69, 113, 0.37);
  z-index: 52;
}
.mountains__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.667%;
          flex: 1 0 66.667%;
}
@media (min-width: 767px) {
  .mountains__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mountains__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
    padding: 0px 0px 40% 0px;
    margin: -50px 0px -50px 0px;
  }
}

.trolltunga {
  color: rgba(255, 255, 255, 0.87);
  z-index: 1;
  position: relative;
  padding: 0px 0px calc(100vh + 70px + env(safe-area-inset-top)) 0px;
  height: calc(100vh + 70px + env(safe-area-inset-top));
  background: url("../img/trolltunga.jpg") 0 0/cover no-repeat;
}
.trolltunga::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(105, 69, 113, 0.37);
  z-index: 2;
}
.trolltunga__slider {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (min-width: 767px) {
  .trolltunga__slider .slick-dots {
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.trolltunga__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trolltunga__title {
  font-weight: 600;
  font-size: 34px;
  color: #fff;
  line-height: 150%;
}
.trolltunga__text {
  font-size: 14px;
  line-height: 150%;
  max-height: 275px;
  overflow-y: auto;
  padding: 0 5px;
}
.trolltunga__button {
  margin: 20px 0px 0px 0px;
  font-weight: 600;
  color: #ec1e66;
  line-height: 150%;
  display: inline-block;
  font-size: 16px;
  padding: 1px 50px 5px 50px;
  border: rgba(236, 30, 102, 0.87) solid 2px;
  position: relative;
  overflow: hidden;
}
.trolltunga__button::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 600%;
  top: 0;
  left: -200%;
  background-color: rgba(255, 255, 255, 0.37);
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.trolltunga__button:hover::before {
  left: -74%;
}
@media (min-width: 767px) {
  .trolltunga {
    padding: 70px 0px calc(100vh + 70px + env(safe-area-inset-top)) 0px;
    height: calc(100vh + 70px + 70px + env(safe-area-inset-top));
  }
}

.aostavalley {
  background-color: rgba(255, 255, 255, 0.87);
}
.aostavalley__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aostavalley__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 50;
  position: relative;
  padding: 0px 0px 57% 0px;
  margin: -50px 0px 0px 0px;
}
.aostavalley__image img {
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid #ec1e66;
}
.aostavalley__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(105, 69, 113, 0.37);
  z-index: 52;
}
.aostavalley__info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.667%;
          flex: 1 0 66.667%;
  text-align: right;
}
@media (min-width: 767px) {
  .aostavalley__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aostavalley__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
    padding: 0px 0px 40% 0px;
    margin: -50px 0px -50px 0px;
  }
  .aostavalley__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer {
  background-color: #252525;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 50px;
}
.footer__social {
  margin: 10px 0px 0px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}
.footer__social li {
  margin: 0 10px 10px;
}
.footer__link {
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
}
.footer__link img {
  width: 30px;
}
@media (min-width: 767px) {
  .footer__menu {
    max-width: 66.667%;
    display: block;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__list li {
    margin: 0px 45px 0px 0px;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__social li {
    margin: 5px 20px 25px 0px;
  }
  .footer__link img {
    width: 25px;
  }
}

.slick-slider {
  /* Слайдер запущен */
  /* Слайдер с точками */
}
.slick-list {
  overflow: hidden;
  position: absolute;
  width: 66.667%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 767px) {
  .slick-list {
    width: 50%;
  }
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slide {
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
}
.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
}
.slick-arrow.slick-prev {
  left: 0;
  border-bottom: #ec1e66 solid 3px;
  border-left: #ec1e66 solid 3px;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
.slick-arrow.slick-next {
  right: 0;
  border-top: #ec1e66 solid 3px;
  border-right: #ec1e66 solid 3px;
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}
@media (min-width: 767px) {
  .slick-arrow {
    width: 50px;
    height: 50px;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.slick-dots li {
  cursor: pointer;
  margin: 0 15px;
  width: 50px;
  height: 15px;
  border: #ec1e66 solid 2px;
  background-color: rgba(236, 30, 102, 0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /* Активная точка */
  /* Элемент точки */
}
@media (min-width: 767px) {
  .slick-dots li {
    width: 75px;
  }
}
.slick-dots li.slick-active {
  background-color: #ec1e66;
}
.slick-dots li button {
  font-size: 0;
}